:plain
  <select id='QS-selectCityList' name='city[]'>
    <option value='322'>Afton</option>
    <option value='484'>Alberta</option>
    <option value='1058'>Amelia</option>
    <option value='1096'>Amherst</option>
    <option value='1130'>Ampthill</option>
    <option value='1402'>Appomattox</option>
    <option value='1569'>Ark</option>
    <option value='1736'>Arvonia</option>
    <option value='1810'>Ashland</option>
    <option value='2233'>Aylett</option>
    <option value='2568'>Barhamsville</option>
    <option value='2792'>Basye</option>
    <option value='3183'>Beaverdam</option>
    <option value='4305'>Blackstone</option>
    <option value='5161'>Bowling Green</option>
    <option value='5210'>Boydton</option>
    <option value='5223'>Boykins</option>
    <option value='5246'>Bracey</option>
    <option value='5359'>Branchville</option>
    <option value='5788'>Brodnax</option>
    <option value='6031'>Bruington</option>
    <option value='6171'>Buckingham</option>
    <option value='6261'>Buffalo Junction</option>
    <option value='6304'>Bumpass</option>
    <option value='6354'>Burgess</option>
    <option value='6377'>Burkeville</option>
    <option value='7227'>Capron</option>
    <option value='7282'>Caret</option>
    <option value='53850'>Caroline</option>
    <option value='7451'>Carrollton</option>
    <option value='7457'>Carrsville</option>
    <option value='7465'>Carson</option>
    <option value='7489'>Cartersville</option>
    <option value='7928'>Center Cross</option>
    <option value='8156'>Champlain</option>
    <option value='8229'>Charles City</option>
    <option value='53851'>Charles City Co.</option>
    <option value='53852'>Charlotte</option>
    <option value='8273'>Charlottesville</option>
    <option value='8293'>Chase City</option>
    <option value='8466'>Chesapeake</option>
    <option value='8501'>Chester</option>
    <option value='8521'>Chesterfield</option>
    <option value='8755'>Church Road</option>
    <option value='8991'>Clarksville</option>
    <option value='9460'>Cobbs Creek</option>
    <option value='9769'>Colonial Beach</option>
    <option value='9771'>Colonial Heights</option>
    <option value='9825'>Columbia</option>
    <option value='10555'>Courtland</option>
    <option value='10859'>Crewe</option>
    <option value='11025'>Crozier</option>
    <option value='11114'>Cullen</option>
    <option value='11124'>Culpeper</option>
    <option value='11143'>Cumberland</option>
    <option value='12002'>Deltaville</option>
    <option value='12021'>Dendron</option>
    <option value='12218'>Dewitt</option>
    <option value='12335'>Dillwyn</option>
    <option value='12355'>Dinwiddie</option>
    <option value='12366'>Disputanta</option>
    <option value='12590'>Doswell</option>
    <option value='12723'>Drakes Branch</option>
    <option value='12760'>Drewryville</option>
    <option value='12968'>Dundas</option>
    <option value='13033'>Dunnsville</option>
    <option value='13107'>Dutton</option>
    <option value='13922'>Edinburg</option>
    <option value='14658'>Emporia</option>
    <option value='53853'>Essex</option>
    <option value='15612'>Falmouth</option>
    <option value='15713'>Farmville</option>
    <option value='15718'>Farnham</option>
    <option value='16271'>Floyd</option>
    <option value='53855'>Fluvanna</option>
    <option value='16346'>Ford</option>
    <option value='16898'>Franklin</option>
    <option value='16964'>Fredericksburg</option>
    <option value='17592'>Gasburg</option>
    <option value='17995'>Gladstone</option>
    <option value='18043'>Glen Allen</option>
    <option value='18265'>Gloucester</option>
    <option value='18267'>Gloucester Point</option>
    <option value='18400'>Goochland</option>
    <option value='18496'>Gordonsville</option>
    <option value='18981'>Green Bay</option>
    <option value='19188'>Greenville</option>
    <option value='19275'>Gretna</option>
    <option value='19314'>Grimstead</option>
    <option value='19495'>Gum Spring</option>
    <option value='19561'>Gwynn</option>
    <option value='19627'>Hadensville</option>
    <option value='19658'>Hague</option>
    <option value='19722'>Halifax</option>
    <option value='19744'>Hallieford</option>
    <option value='19880'>Hampden Sydney</option>
    <option value='19903'>Hampton</option>
    <option value='19990'>Hanover</option>
    <option value='20266'>Hartfield</option>
    <option value='20550'>Hayes</option>
    <option value='20672'>Heathsville</option>
    <option value='53748'>Henrico</option>
    <option value='21182'>Highland Springs</option>
    <option value='21725'>Honaker</option>
    <option value='21838'>Hopewell</option>
    <option value='21995'>Howardsville</option>
    <option value='22079'>Hudgins</option>
    <option value='22792'>Irvington</option>
    <option value='22897'>Ivor</option>
    <option value='23005'>Jamaica</option>
    <option value='53859'>James City Co.</option>
    <option value='23156'>Jarratt</option>
    <option value='23345'>Jetersville</option>
    <option value='23921'>Kenbridge</option>
    <option value='24040'>Kents Store</option>
    <option value='24152'>Keysville</option>
    <option value='24210'>Kilmarnock</option>
    <option value='53860'>King & Queen</option>
    <option value='24270'>King George</option>
    <option value='24275'>King William</option>
    <option value='24385'>Kinsale</option>
    <option value='24735'>La Crosse</option>
    <option value='24912'>Ladysmith</option>
    <option value='25459'>Lancaster</option>
    <option value='25513'>Laneview</option>
    <option value='25515'>Lanexa</option>
    <option value='25811'>Lawrenceville</option>
    <option value='26330'>Lexington</option>
    <option value='26752'>Little Plymouth</option>
    <option value='26937'>Locust Grove</option>
    <option value='26940'>Locust Hill</option>
    <option value='27322'>Louisa</option>
    <option value='27583'>Lunenburg</option>
    <option value='27984'>Maidens</option>
    <option value='28086'>Manakin</option>
    <option value='28087'>Manakin Sabot</option>
    <option value='28197'>Mannboro</option>
    <option value='28227'>Manquin</option>
    <option value='28879'>Mathews</option>
    <option value='28899'>Mattaponi</option>
    <option value='29203'>Mc Kenney</option>
    <option value='29473'>Meadowview</option>
    <option value='29504'>Mechanicsville</option>
    <option value='29584'>Meherrin</option>
    <option value='29828'>Merry Point</option>
    <option value='53862'>Middlesex</option>
    <option value='30084'>Midlothian</option>
    <option value='30206'>Milford</option>
    <option value='30285'>Millers Tavern</option>
    <option value='30476'>Mineral</option>
    <option value='30833'>Monroe</option>
    <option value='30999'>Montpelier</option>
    <option value='31025'>Montross</option>
    <option value='31057'>Moon</option>
    <option value='31330'>Moseley</option>
    <option value='31476'>Mount Holly</option>
    <option value='31492'>Mount Jackson</option>
    <option value='32055'>Nathalie</option>
    <option value='32221'>Nelson</option>
    <option value='32389'>New Canton</option>
    <option value='32531'>New Kent</option>
    <option value='32887'>Newport News</option>
    <option value='32894'>Newsoms</option>
    <option value='32935'>Newtown</option>
    <option value='33138'>Norfolk</option>
    <option value='33191'>North</option>
    <option value='53864'>Northumberland</option>
    <option value='33768'>Nottoway</option>
    <option value='34227'>Oilville</option>
    <option value='34603'>Orange</option>
    <option value='73'>Other</option>
    <option value='35273'>Palmyra</option>
    <option value='35302'>Pamplin</option>
    <option value='35661'>Partlow</option>
    <option value='36301'>Petersburg</option>
    <option value='37373'>Poquoson</option>
    <option value='37416'>Port Haywood</option>
    <option value='37456'>Port Royal</option>
    <option value='37551'>Portsmouth</option>
    <option value='37676'>Powhatan</option>
    <option value='53866'>Prince Edward</option>
    <option value='37870'>Prince George</option>
    <option value='37988'>Providence Forge</option>
    <option value='38246'>Quinton</option>
    <option value='38553'>Rawlings</option>
    <option value='38718'>Red Oak</option>
    <option value='38841'>Reedville</option>
    <option value='39164'>Rice</option>
    <option value='39267'>Richmond</option>
    <option value='39905'>Rockville</option>
    <option value='40626'>Ruther Glen</option>
    <option value='41027'>Saint Stephens Church</option>
    <option value='41164'>Saluda</option>
    <option value='41378'>Sandston</option>
    <option value='41406'>Sandy Hook</option>
    <option value='41414'>Sandy Point</option>
    <option value='41673'>Saxe</option>
    <option value='41876'>Scottsburg</option>
    <option value='41884'>Scottsville</option>
    <option value='41933'>Seaford</option>
    <option value='42095'>Sedley</option>
    <option value='42291'>Shacklefords</option>
    <option value='43265'>Smithfield</option>
    <option value='43577'>South Boston</option>
    <option value='43703'>South Hill</option>
    <option value='44120'>Spotsylvania</option>
    <option value='44175'>Spring Grove</option>
    <option value='44685'>Stevensville</option>
    <option value='44870'>Stony Creek</option>
    <option value='45116'>Suffolk</option>
    <option value='45421'>Supply</option>
    <option value='45440'>Surry</option>
    <option value='45443'>Susan</option>
    <option value='45450'>Sussex</option>
    <option value='45458'>Sutherland</option>
    <option value='45846'>Tappahannock</option>
    <option value='46525'>Toano</option>
    <option value='46673'>Topping</option>
    <option value='47008'>Troy</option>
    <option value='48513'>Urbanna</option>
    <option value='49051'>Victoria</option>
    <option value='49410'>Virginia Beach</option>
    <option value='49604'>Wake</option>
    <option value='49704'>Walkerton</option>
    <option value='49936'>Warfield</option>
    <option value='49947'>Warm Springs</option>
    <option value='50023'>Warsaw</option>
    <option value='50132'>Water View</option>
    <option value='50308'>Waverly</option>
    <option value='50457'>Weems</option>
    <option value='51043'>West Point</option>
    <option value='51745'>Wicomico</option>
    <option value='51903'>Williamsburg</option>
    <option value='52086'>Wilsons</option>
    <option value='52185'>Windsor</option>
    <option value='52311'>Wintergreen</option>
    <option value='52515'>Woodford</option>
    <option value='52838'>Yale</option>
    <option value='52968'>Yorktown</option>
    <option value='53118'>Zuni</option>
  </select>
