:plain
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <![endif]-->

  <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

<div id="map"></div>

:javascript
  var map = L.map('map', { attributionControl: false, scrollWheelZoom: false, maxZoom: 5, minZoom: 2 }).setView([42, 0], 3);
