%footer#global-footer
  .row
    .large-12.columns.centered
      %p.text-center
        Copyright &copy; 2013 - Daniel Keeton &mdash;
        = image_tag "realtor_logo.png"
        = image_tag "equal_housing.png"

