- if images.any?
  .row
    .large-12.columns
      .slideshow-wrapper
        .preloader
        %ul{data: { orbit: true }}
          - images.each do |image|
            %li
              = image_tag image.image
              = slider_caption(image)
