.row
  .large-12.columns
    %ul{data: { orbit: true }}
      %li
        = image_tag 'richmond/shortpump.jpg'
        .orbit-caption
          .show-for-small.hide-for-medium-up
            Richmond has over 900 restaurants!
          .hide-for-small
            Richmond is home to over 900 restaurants and incredibly diverse
            shopping, including the beautiful outdoor Short Pump Town Center.
      %li
        = image_tag 'richmond/vcu.jpg'
        .orbit-caption
          .show-for-small.hide-for-medium-up
            Richmond has some of the nations top schools!
          .hide-for-small
            Richmond is home to some of the nations top schools. From elementary
            education to colleges like VCU and Richmond.
      %li
        = image_tag 'richmond/uva-rotunda.jpg'
        .orbit-caption
          .show-for-small.hide-for-medium-up
            Charlottesville, VA is only 45 minutes away!
          .hide-for-small
            Only a 45 minute drive west will bring you to Charlottesville, a
            small town unlike any other. Known nationally as a melting pot of
            art, culture and entertainment all mixed in to a small town feel.
      %li
        = image_tag 'richmond/neptune.jpg'
        .orbit-caption
          .show-for-small.hide-for-medium-up
            Richmond is only a short drive from the beach!
          .hide-for-small
            Simply take a short drive East and you're at Virginias beautiful
            coastline with some of the best beaches on the East coast.
