.row
  .large-12.columns
    .slideshow-wrapper
      .preloader
      %ul{data: { orbit: true }}
        %li
          = image_tag 'richmond/shortpump.jpg'
          .orbit-caption
            .show-for-small.hide-for-medium-up
              Richmond has over 900 restaurants!
            .hide-for-small
              Richmond is home to over 900 restaurants and incredibly diverse
              shopping, including the beautiful outdoor Short Pump Town Center.
        %li
          = image_tag 'richmond/vcu.jpg'
          .orbit-caption
            .show-for-small.hide-for-medium-up
              Richmond has some of the nations top schools!
            .hide-for-small
              Richmond is home to some of the nations top schools. From elementary
              education to colleges like VCU and Richmond.
        %li
          = image_tag 'richmond/downtown-richmond.jpg'
          .orbit-caption
            .show-for-small.hide-for-medium-up
              Richmond has a very rich history!
            .hide-for-small
              Are you a history buff? Look no further than Richmond's downtown
              to explore a rich history awaiting your discovery. Or drive two
              hours north to Washington DC and see all the attractions of our
              nations capital.
        %li
          = image_tag 'richmond/va-beach.jpg'
          .orbit-caption
            .show-for-small.hide-for-medium-up
              Richmond is only a short drive from the beach!
            .hide-for-small
              Simply take a short drive East and you're at Virginias beautiful
              coastline with some of the best beaches on the East coast.
