.row
  .large-12.columns
    %ul{data: { orbit: true }}
      %li
        = image_tag 'richmond/shortpump.jpg'
        .orbit-caption
          Richmond is home to over 900 restaurants and incredibly diverse
          shopping, including the beautiful outdoor Short Pump Town Center.
      %li
        = image_tag 'richmond/vcu.jpg'
        .orbit-caption
          In the Richmond area you will find some of the nations top schools,
          from elementary education to top colleges like Virginia Commonwealth
          University and the University of Richmond. Even in the rural areas of
          Goochland, Chesterfield or Hanover you're never more than a short
          drive from world class shopping, dining and entertainment.
      %li
        = image_tag 'richmond/uva-rotunda.jpg'
        .orbit-caption
          Only a 45 minute drive west will bring you to Charlottesville, a small
          town unlike any other. C-ville is known nationally as melting pot of
          art, culture and entertainment all mixed in to a small town feel.
      %li
        = image_tag 'richmond/neptune.jpg'
        .orbit-caption
          If you love the ocean, simply take a short drive East and you're at
          Virginias beautiful coastline with some of the best beaches on the
          East coast.
