.row.margin-bottom-50
  .large-12.columns.centered
    %h3.color-white.lobster Featured Listing
    %section.nopadding.rounded
      = image_tag "featured_house.png"
      %aside
        %h5
          .color-black.inline Beautiful Lynchburg Home
          .color-gray.inline (Under Contract)
        %h5
          .color-dark-green.inline $259,000
        %p
          Don't miss this opportunity! Very popular open floorplan in a highly
          desirable New Towne subdivision. This home has a lot to offer
          including 4 bedrooms, 3.5 baths plus a finished bonus room in the
          basement. Tastefully and freshly painted, this home is move in ready
          and practically maintenance free.
      %footer
        %p.margin-bottom-0.padding-right-10.text-right= link_to "View More Listings", "#", class: "strong"

.row.margin-bottom-50
  .large-12.columns.centered
    %h3.color-white.lobster About Daniel
    %section.nopadding.rounded
      .left.width-43
        = image_tag "keeton_family.png", alt: "The Keetons"
      .right.width-57.padding-left-20.padding-right-20.padding-top-20.padding-bottom-20
        %p.margin-bottom-10
          As a native to the Richmond Area, I have grown up loving this part of
          the state. With our close proximity to the coast and the beautiful
          Blue Ridge mountains, central Virginia has so much to offer.
        %p.margin-bottom-10
          I have extensive knowledge of the area and I am passionate about
          real estate. However, my ultimate goal is to surpass my clients
          expectations of personal service as a Realtor and work as hard as I can
          to make the best deal possible.
        %p.margin-bottom-10
          If you're looking to buy or sell real estate in our area, I'd love to
          have the opportunity to work with you. Feel free to call, email or send
          me a Facebook message.
        %p.margin-bottom-0
          %span.strong Daniel Keeton,
          %span.italic.padding-left-5 Realtor

.row.margin-bottom-50
  .large-12.columns.centered
    %h3.color-white.lobster Featured Testimonial
    %section.rounded
      %p.margin-bottom-10
        &quot;I want to say how much I enjoyed having Daniel Keeton represent me
        during my first real estate investment purchase. When I started thinking
        how I wanted to invest my money, I realized rental property may give me
        the best return on my investment with monthly income. Daniel is very
        excited about real estate and knowledgeable!  Whenever I saw a property
        I wanted to see, he was immediately available to show it. Every little
        detail from choosing the right house to closing the deal, Daniel was on
        it and assisted me through all the steps I needed to take once the
        contract was signed. I am so happy with Daniel, that I want to recommend
        him to anyone looking for a young, energetic and intelligent agent!&quot;
      %p.strong - W.R.
