.row.margin-bottom-30
  .large-12.columns.centered
    %section.no-padding.rounded
      %header
        %h3 Featured Listing
      %article
        = image_tag "featured_house.png"
        - if false
          %aside
            %h5
              .color-black.inline Beautiful Lynchburg Home
              .color-gray.inline (Under Contract)
            %h5
              .color-dark-green.inline $259,000
            %p
              Don't miss this opportunity! Very popular open floorplan in a highly
              desirable New Towne subdivision. This home has a lot to offer
              including 4 bedrooms, 3.5 baths plus a finished bonus room in the
              basement. Tastefully and freshly painted, this home is move in ready
              and practically maintenance free.
      %footer
        %p.margin-bottom-0.padding-right-10.text-right= link_to "View More Listings", "#", class: "strong color-white"

.row.margin-bottom-30
  .large-4.columns
    %section.no-padding
      %header
        %h3 Testimonials
      .padding-left-15.padding-right-15
        %p
          %blockquote.margin-bottom-15 "Daniel was the best realtor we've had. We had constant traffic coming through looking at our house. He kept us informed throughout the whole process. I highly recommend Daniel."
          %span.strong – L. Birchfield
        %hr
        %p
          %blockquote.margin-bottom-15 "Hardworking and has your best interest at heart. Highly recommend using his services."
          %span.strong – A. McKinley
        %hr
        %p.text-right.margin-bottom-15= link_to "View More Testimonials", "#", class: "strong"
  .large-8.columns
    %section
      = image_tag "keeton_family.png", alt: "The Keetons"
      %hr
      %p.margin-bottom-10
        As a native to the Richmond Area, I have grown up loving this part of
        the state. With our close proximity to the coast and the beautiful
        Blue Ridge mountains, central Virginia has so much to offer.
      %p.margin-bottom-10
        I have extensive knowledge of the area and I am passionate about
        real estate. However, my ultimate goal is to surpass my clients
        expectations of personal service as a Realtor and work as hard as I can
        to make the best deal possible.
      %p.margin-bottom-10
        If you're looking to buy or sell real estate in our area, I'd love to
        have the opportunity to work with you. Feel free to call, email or send
        me a Facebook message.
      %p
        %span.strong Daniel Keeton,
        %span.italic.padding-left-5 Realtor
