%li
  %blockquote.margin-bottom-10
    - if vendor.link
      = link_to image_tag(vendor.image.thumb), vendor.link
      %p.title= raw link_to(vendor.label, vendor.link)

    - else
      = image_tag(vendor.image.thumb)
      %p.title= raw vendor.label
