body.admin
  background: $off_white

  h3
    color: $color_blue
    font-family: 'Lobster Two', sans-serif
    text-shadow: 1px 1px 0px $color_white

  ul.admin-list
    > li
      border-bottom: 1px solid $color_gray
      margin-bottom: 5px
      padding-bottom: 5px
      &:last-child
        border-bottom: 0px none
  ul.actions
    text-align: right
    > li
      display: inline-block
