.flash
  color: $white
  font-size: 0.85em
  margin-bottom: 0px
  padding: 3px 5px
  text-align: right
  a
    font-size: 0.7em !important
    margin-left: 5px
  &.error, &.alert
    background: $alert-color
    a
      color: lighten($alert-color, 25%) !important
      &:hover
        color: darken($alert-color, 5%) !important
  &.success, &.notice
    background: $success-color
    a
      color: lighten($success-color, 25%) !important
      &:hover
        color: darken($success-color, 5%) !important

#global-header, #admin-header
  +clearfix
  border-bottom: 3px solid $color_gray
  display: block
  width: 100%
  h1
    color: $color_white
    float: left
    font-family: 'Neuton', sans-serif
    font-size: 2.15em
    font-weight: bold
    line-height: 60px
    margin: 0px
    position: relative
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
    top: -2px
    a
      color: $color_white
      text-decoration: none
  ul#nav
    float: left
    margin: 0px 0px 0px 25px
    position: relative
    top: 19px
    li
      float: left
      margin-right: 5px

      a
        +transition(all 0.1s ease-in-out)
        border-radius: 3px
        color: $color_white
        padding: 5px 8px
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
        &:hover, &.active
          background: $color_light_gray
          color: $color_black
          text-shadow: none

      &.has-subnav
        position: relative
        &:hover
          a
            background: $color_light_gray
            color: $color_black
            text-shadow: none
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0

          ul.subnav
            display: block

        ul.subnav
          display: none
          width: 145px
          position: absolute
          top: auto
          left: 0
          border-radius: 3px
          border-top-left-radius: 0
          background: $color_light_gray
          margin-left: 0
          padding: 5px 0
          z-index: 9999

          li
            display: block
            margin: 0 5px
            a
              display: block
              width: 135px
              color: $color_black
              text-shadow: none

              &:hover, &:active
                background: $color_blue
                color: $color_white
                text-shadow: none
                border-radius: 3px

  ul#nav.hidden
    display: none
  .home-worth
    border-radius: 5px
    float: left
    margin: 0px 0px 0px 10px
    padding: 10px
    position: relative
    top: 9px

#admin-header
  background: $color_blue
  ul#nav
    li
      a
        &:hover, &.active
          background: $color_white
          color: $color_blue


#global-header
  h1
    span
      color: $color_light_blue
      display: inline-block
      font-weight: bold
      margin-left: -5px

#mobile-nav
  list-style-type: none
  margin-left: 0px
  margin-top: -10px
  .row
    .small-6.columns
      &:last-child
        padding-left: 1px
      &:first-child
        padding-right: 0px
    .small-6.columns.hidden
      display: none
  li.action-item, li.nav-item
    margin-bottom: 0px
    a
      display: block
      margin-bottom: 1px
      padding: 10px
      text-align: center
      width: 100%
    &.nav-item
      a
        background: $color_blue
        color: $white
        &:hover, &.active
          background: darken($color_blue, 5%)

#main-content
  background: $off_white
  padding: 30px 0px

#global-footer
  +box-shadow(inset 0px 3px 6px rgba(0, 0, 0, 0.5))
  background: $color_blue
  padding: 20px 0px 18px
  width: 100%
  dl
    +clearfix
  dl, p, dd, dt
    margin-bottom: 0px
    overflow: visible
  p
    color: $off_white
    text-align: right
  .neumann-and-dunn
    width: 75px

a#admin-link
  background: transparent
  border-radius: 3px
  bottom: 20px
  color: $color_white
  font-size: 20px
  padding: 5px 3px 5px 7px
  position: absolute
  right: 20px
  &:hover, &:active
    background: $color_white
    color: $color_blue !important
  @media only screen and (max-width: #{$medium-screen})
    display: none

@media only screen and (max-width: #{$small-screen})
  #global-header
    h1
      text-align: center
      width: 100%
  #global-footer
    dl
      text-align: center

      dt, dd
        display: inline-block
        float: none
        &:first-child
          margin-left: 0px
    p
      text-align: center
      span
        display: block
        &.images
          margin-top: 10px
        &.dash
          display: none
    .large-6.columns:first-child
      margin-bottom: 10px
