$sticky_header_height: 50px

#global-header
  z-index: 100
  +box-shadow(0px 3px 6px rgba(0, 0, 0, 0.5))
  display: block
  position: fixed
  height: $sticky_header_height
  width: 100%
  background: $blue
  img
    height: $sticky_header_height - 16
    margin-top: 8px
  h1
    font-family: 'Lobster Two', sans-serif
    font-size: 2.0em
    font-weight: normal
    margin-right: 15px
    color: $white
    margin-top: 3px
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
    span
      font-weight: bold
      display: inline-block
      color: $light_blue
      margin-left: -5px
  ul#global-nav
    margin: 0px
    list-style-type: none
    li
      float: left
      a
        display: block
        height: $sticky_header_height
        line-height: $sticky_header_height
        background: $blue
        color: $white
        padding: 2px 15px
        border-right: 1px solid $light_blue
        &:hover, &.active
          background: $light_blue
          text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
      &:first-child a
        border-left: 1px solid $light_blue

#global-content
  background: $off_white url('white_wall_hash.png') 0px 0px repeat
  padding-top: $sticky_header_height + 30
  padding-bottom: 30px

#global-footer
  +box-shadow(inset 0px 3px 6px rgba(0, 0, 0, 0.5))
  width: 100%
  background: $blue
  padding: 20px 0px 0px
  p
    color: $off_white
