ul, ol
  list-style-type: none
  margin-left: 0px

.has-tip
  background: $color_gray
  border-radius: 3px
  padding: 0px 5px 1px
  &:hover
    background: $color_gray

.tooltip
  max-width: 300px

// REVEAL
.reveal-modal
  @media only screen and (max-width: #{$small-screen})
    width: 90%
    margin-left: -45%

// ORBIT
.slideshow-wrapper
  +box-shadow(0px 0px 0px 3px rgba(0, 0, 0, 0.1))
  +box-sizing(border-box)
  background: darken($color_gray, 5%)
  border-radius: 3px
  margin-bottom: $column-gutter
  min-height: 397px
  @media only screen and (max-width: #{$small-screen})
    min-height: 0px

.orbit-container
  border-radius: 3px
  .orbit-timer
    span
      display: none !important
  .orbit-next, .orbit-prev
    top: 45%

dl.sub-nav
  &.regions
    dd
      &.active
        a
          font-weight: bold
          background: $color_white
          color: $color_blue

  &.listings
    background: darken($color_gray, 1%)
    margin: 0px 0px 20px
    padding: 15px
    dt, dd, dd a
      color: $color_dark_gray
      margin-bottom: 0px
    dd.active
      a
        color: $color_white
        font-weight: bold
    dt
      font-style: italic
      margin-left: 0px

.gm-style
  img
    max-width: none !important

[class*="block-grid-"] > li
  max-width: 100%

.large-block-grid-3.widgets.vendors
  text-align:center
    li
      float: none
      display: inline-block
      vertical-align: middle
      margin: 0 -1.5px

.error
  input, textarea, select
    margin-bottom: 1em

.fancybox-overlay
  background: rgba(0, 0, 0, 0.75)

a.button
  +transition(all 0.2s ease-in-out)
  &.success
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
    &:hover
      color: darken($color_white, 10%)
  &.secondary
    color: $color_white
    &:hover
      color: $color_white

form.custom
  input
    &.success
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
  .checkbox
    +box-sizing(border-box)
    border: 1px solid #ccc
    border-radius: 2px
    height: 22px
    padding: 0px !important
    width: 22px
    &.disabled
      background: #fff
    &.checked
      &:before
        background: $color_dark_gray
        margin: 0px !important
        top: 3px !important
        left: 3px !important
        content: "" !important
        width: 14px
        height: 14px
  .error > small, small.error
    margin-top: -1.2em
    line-height: 1.4


