.feature-image
  margin-bottom: $column-gutter
  position: relative
  img
    +box-shadow(0px 0px 0px 3px $color_white)
    position: relative
    z-index: 1
  .content
    background: #fff
    background: rgba(255, 255, 255, 0.75)
    bottom: -1px
    left: 0px
    padding: 8px 10px 10px
    position: absolute
    width: 100%
    z-index: 2
    h1, h2, h3, h4, h5, h6, p
      margin: 0px
      color: darken($color_blue, 5%)
      font-size: 0.75em
      text-align: left


