ul, ol
  list-style-type: none
  margin-left: 0px

.has-tip
  background: $color_gray
  border-radius: 3px
  padding: 0px 5px 1px
  &:hover
    background: $color_gray

.tooltip
  max-width: 300px

.slideshow-wrapper
  +box-shadow(0px 0px 0px 3px $color_white)
  +box-sizing(border-box)
  background: darken($color_gray, 5%)
  margin-bottom: $column-gutter
  min-height: 397px

.orbit-container
  .orbit-next, .orbit-prev
    top: 45%
  .orbit-next
    span
      border-left-color: $color_blue !important
    &:hover
      span
        border-left-color: $color_light_blue !important
  .orbit-prev
    span
      border-right-color: $color_blue !important
    &:hover
      span
        border-right-color: $color_light_blue !important

dl.sub-nav
  background: darken($color_gray, 1%)
  margin: 0px 0px 20px
  padding: 15px
  dt, dd, dd a
    color: $color_dark_gray
    margin-bottom: 0px
  dd.active
    a
      color: $color_white
      font-weight: bold
  dt
    font-style: italic
    margin-left: 0px

.gm-style
  img
    max-width: none !important

[class*="block-grid-"] > li
  max-width: 100%

.error
  input, textarea, select
    margin-bottom: 1em
