#map
  +box-shadow(0px 0px 0px 3px rgba(0, 0, 0, 0.1))
  background: $color_gray
  display: block
  height: 300px
  width: 100%

#local-listings
  margin-bottom: 30px

.blankslate
  background: $color_white
  padding: 15px
  p
    color: lighten($body-font-color, 35%)
    font-style: italic
    margin-bottom: 0px
    text-align: center

.box
  +box-sizing(border-box)
  background: $off_white
  padding: 15px

blockquote
  border-left: 0px
  padding: 0px

.widget
  +box-shadow(0px 0px 0px 3px rgba(0, 0, 0, 0.1))
  border-radius: 5px
  padding: 0px
  header
    img
      border-radius: 5px 5px 0px 0px
      display: block
  article
    background: $color_white
    padding: 10px
    p.title
      margin-bottom: 0px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      width: 100%
    hr
      margin: 15px -10px
    .address
      p
        font-weight: bold
    dl.information
      display: block
      font-size: emCalc(13px)
      margin-bottom: 0px
      dt, dd
        margin-bottom: 5px
      dd
        text-align: right
  footer
    a
      background: $color_gray
      border-radius: 0px 0px 5px 5px
      color: $color_dark_gray
      display: block
      padding: 10px
      text-align: center
      &:hover
        background: $color_blue
        color: $color_white

section, .section
  +box-shadow(0px 0px 0px 3px rgba(0, 0, 0, 0.1))
  +clearfix
  background: #fff
  border-radius: 5px
  margin-bottom: $column-gutter
  overflow: hidden
  padding: 15px 15px 0px
  position: relative
  header
    border-bottom: 1px solid $color_gray
    margin: -20px -20px 15px !important
    padding: 15px 20px 10px
    p, h1, h2, h3, h4, h5, h6
      margin: 0px
    h1, h2, h3, h4, h5, h6
      color: $color_dark_gray
      font-family: 'Open Sans', sans-serif
  .header-image
    margin: -20px -20px 20px !important
    img
      display: block
      width: 100%
  article
    position: relative
  footer
    background: $color_light_gray
    border-top: 1px solid $color_gray
    margin: 15px -20px 0px !important
    padding: 15px 20px
    p, ul
      margin-bottom: 0px
  hr:last-child
    display: none
  &:last-child
    margin-bottom: 0px

.reveal-modal
  section, .section
    padding: 25px 25px 0px
    +box-shadow(0px 0px 0px 6px rgba(255, 255, 255, 0.25))
  header
    margin: -25px -25px 25px !important
