#map
  height: 300px

.box
  +box-sizing(border-box)
  background: $off_white
  padding: 15px

blockquote
  border-left: 0px
  padding: 0px

section, .section
  +box-shadow(0px 0px 0px 3px rgba(0, 0, 0, 0.1))
  +clearfix
  background: #fff
  border-radius: 5px
  margin-bottom: $column-gutter
  overflow: hidden
  padding: 15px 15px 0px
  position: relative
  header
    border-bottom: 1px solid $color_gray
    margin: -20px -20px 15px
    padding: 20px
    p, h1, h2, h3, h4, h5, h6
      margin: 0px
    h1, h2, h3, h4, h5, h6
      color: $color_dark_gray
      font-family: 'Open Sans', sans-serif
  article
    position: relative
  hr:last-child
    display: none
  &:last-child
    margin-bottom: 0px
