body.minimal
  background: $off_white
  #main-content
    padding-top: 75px
    .flash
      margin: 0px 0px 10px
    h2
      color: $color_blue
      font-family: 'Neuton', sans-serif
      line-height: 1.25
      margin: 0px 0px 5px
      text-shadow: 1px 1px 0px $color_white
    form
      margin-bottom: 0px
      input.button
        margin-bottom: 0px

