$blue: #033155
$light_blue: #6c80a3
$black: #58585a
$gray: #a2a2a2
$dark_gray: #242d34
$white: #fff
$off_white: #f0f0f0
$green: #b6cb51
$dark_green: #96a046
$red: #dd6a3b

.color-blue
  color: $blue !important
.color-light-blue
  color: $light_blue !important
.color-black
  color: $black !important
.color-gray
  color: $gray !important
.color-dark-gray
  color: $dark-gray !important
.color-white
  color: $white !important
.color-off-white
  color: $off_white !important
.color-green
  color: $green !important
.color-dark-green
  color: $dark_green !important
.color-red
  color: $red !important
