$google_blue: #498bf4
$black: #58585a
$white: #fff
$off_white: #f0f0f0
$dark_green: #96a046

.color-black
  color: $black !important
.color-white
  color: $white !important
.color-off-white
  color: $off_white !important
.color-dark-green
  color: $dark_green !important

$color_black: #222
$color_blue: #033155
$color_light_blue: #6c80a3
$color_gray: #e9e9e9
$color_green: #5da423
$color_light_gray: #f7f7f7
$color_dark_gray: #58585a
$color_red: #dd6a3b
$color_white: #fff

.color-green
  color: $color_green !important
.color-gray
  color: $color_gray !important
.color-light-gray
  color: $color_light_gray !important
.color-dark-gray
  color: $color_dark_gray !important
.color-red
  color: $color_red !important
.color-blue
  color: $color_blue !important
.color-light-blue
  color: $color_light_blue !important
