$blue: #033155
$light_blue: #6c80a3
$google_blue: #498bf4
$black: #58585a
$white: #fff
$off_white: #f0f0f0
$green: #b6cb51
$dark_green: #96a046
$red: #dd6a3b

.color-blue
  color: $blue !important
.color-light-blue
  color: $light_blue !important
.color-black
  color: $black !important
.color-white
  color: $white !important
.color-off-white
  color: $off_white !important
.color-green
  color: $green !important
.color-dark-green
  color: $dark_green !important
.color-red
  color: $red !important

$color_gray: #e9e9e9
$color_light_gray: #f7f7f7
$color_dark_gray: #58585a

.color-gray
  color: $color_gray !important
.color-light-gray
  color: $color_light_gray !important
.color-dark-gray
  color: $color_dark_gray !important
