.row
  .large-7.columns
    .feature-image
      = link_to image_tag('richmond/neptune.jpg'), 'http://www.visitvirginiabeach.com/',
                target: '_blank'
      .content.bottom
        %h3
          Virginia Beach
          %small Beautiful beach, short drive from Richmond!

    %section
      %header
        %h4 My Blog
      - if @posts.any?
        %ul#post-list
          - @posts.each do |post|
            %li.row
              .large-8.columns
                = link_to post.title.truncate(75), post
              .large-4.columns.text-right
                %span.mute.italic= post.created_at.to_formatted_s(:calendar_date)
            %hr
      - else
        %h3.text-center No Blog Entries Yet!

  .large-5.columns
    %section
      %header
        %h4 Testimonials

      %ul.testimonials
        - @testimonials.each do |testimonial|
          = render 'testimonials/testimonial', testimonial: testimonial
