.row.margin-bottom-30
  .large-9.large-centered.columns
    %section
      %header
        %h4= @post.title
      = markdown(@post.body)
      %hr
      %p
        = link_to raw('&larr; Back to Blog'), posts_path
